/********* 公共样式  **********/
// 配色
$--color-hover: #51BCDA;
$--background-color-hover: #eef8fb;
$--background-color-active: #d6f8fb;
$--border-solid-color: #e3e6eb;
$--border-solidx-color: #f5f5f5;

/* 字体 */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,simsun,sans-serif;
}

html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* 字体大小 */
*{
	font-size: 16px;
}
h1{
	font-size: 32px;
}
h2{
	font-size: 24px;
}
h3{
	font-size: 18.72px;
}
h4{
	font-size: 16px;
}
h5{
	font-size: 13.28px;
}
div,p,span,a{
	font-size: 14px;
}
/* 字体加粗 */
.font-weight{
	font-weight: bold;
}
/* 背景 */
.background-color-white{
	background-color: #ffffff;
}
.background-color-hover{
	background-color: $--background-color-hover;
}
.background-color-active{
	background-color: $--background-color-active;
}

/* 颜色 */
.color-white{
	color: #ffffff;
}
// 鼠标样式
.pointer{
  cursor: pointer;
}
.pointer-color{
	cursor: pointer;
	color: $--color-hover !important;;
}
.pointer-hover:hover{
	cursor: pointer;
	color: $--color-hover !important;
}
// 鼠标穿透
.pointer-events-auto{
	pointer-events: auto;
}
.pointer-events-none{
	pointer-events: none;
}
// 禁用样式
.disabled{
	cursor: not-allowed;
}
/* 弹性布局 */
.flex{
  display: flex;
}
.flex-row{ //水平方向
  display: flex;
  flex-direction: row;
}
.flex-column{ //垂直方向
  display: flex;
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.flex-2{
  flex: 2;
}
.flex-3{
  flex: 3;
}
.flex-4{
  flex: 4;
}
.flex-5{
  flex: 5;
}
.flex-6{
  flex: 6;
}
.flex-7{
  flex: 7;
}
.flex-8{
  flex: 8;
}
.flex-9{
	flex: 9;
}
.flex-align-center{ //水平方向时垂直居中，垂直方向时水平居中
  display: flex;
  align-items: center;
}
.flex-vertical-center{  //垂直居中
  display: flex;
  justify-content: center;
}
.flex-center{ // 水平居中且垂直居中
	display: flex;
	align-items: center;
	justify-content: center;
}
.flex-align-start{
	display: flex;
	align-items: flex-start;
}
.flex-align-end{
	display: flex;
	align-items: flex-end;
}
.flex-vertical-start{
	display: flex;
	justify-content: flex-start;
}
.flex-vertical-end{
	display: flex;
	justify-content: flex-end;
}
/* 盒子布局 */
.block{
  display: block;
}
.none{
	display: none;
}
.hidden{
	visibility: hidden;
}
.inline-block{
  display: inline-block;
}
.align-center{
  text-align: center;
}
.align-left{
  text-align: left;
}
.align-right{
  text-align: right;
}
.vertical-center{
  vertical-align: middle;
}
.border-box{
	box-sizing: border-box;
}
.width0{
	width: 0px;
}
.height0{
	height: 0px;
}
/* 宽高满屏 */
.width-full{
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.height-full{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
.width-full-margin20{
  width: calc(100% - 40px);
  margin: 20px;
  padding: 0px;
}
.width-full-padding20{
  width: calc(100% - 40px);
  margin: 0px;
  padding: 20px;
}
.width-full-margin20-padding20{
  width: calc(100% - 80px);
  margin: 20px;
  padding: 20px;
}
.height-full-margin20{
  min-height: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 20px;
  padding: 0px;
}
.height-full-padding20{
  min-height: calc(100% - 40px);
  height: calc(100% - 40px);
  margin: 0px;
  padding: 20px;
}
.height-full-margin20-padding20{
  min-height: calc(100% - 80px);
  height: calc(100% - 80px);
  margin: 20px;
  padding: 20px;
}

/* 定位 */
.position-relative{
  position: relative;
}
.position-fixed{
  position: fixed;
}
.position-fixed-full{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.position-absolute{
  position: absolute;
}
.position-absolute-full{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.top0{
	top: 0px;
}
.top10{
	top: 10px;
}
.top20{
	top: 20px;
}
.left0{
	left: 0px;
}
.left10{
	left: 10px;
}
.left20{
	left: 20px;
}
.right0{
	right: 0px;
}
.right10{
	right: 10px;
}
.right20{
	right: 20px;
}
.bottom0{
	bottom: 0px;
}
.bottom10{
	bottom: 10px;
}
.bottom20{
	bottom: 20px;
}
.zIndex0{
  z-index: 0;
}
.zIndex1{
  z-index: 1;
}
.zIndex2{
  z-index: 2;
}
.zIndex3{
  z-index: 3;
}
.zIndex9{
  z-index: 9;
}
.zIndex99{
  z-index: 99;
}
.zIndex999{
  z-index: 999;
}
.zIndex1000{
  z-index: 1000;
}
.zIndex2001{
  z-index: 2001;
}
.zIndex9999{
  z-index: 9999;
}
.full0{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
/* 边框线条 */
.border-none{
	border: none;
}
.border-solid{
  border: 1px solid $--border-solid-color;
}
.border-top{
  border-top: 1px solid $--border-solid-color;
}
.border-right{
  border-right: 1px solid $--border-solid-color;
}
.border-bottom{
  border-bottom: 1px solid $--border-solid-color;
}
.border-left{
  border-left: 1px solid $--border-solid-color;
}
.border-radius{
  border-radius: 10px;
}
.border-solid10{
	border: 10px solid $--border-solidx-color;
}
.border-top10{
	border-top: 10px solid $--border-solidx-color;
}
.border-left10{
	border-left: 10px solid $--border-solidx-color;
}
.border-right10{
	border-right: 10px solid $--border-solidx-color;
}
.border-bottom10{
	border-bottom: 10px solid $--border-solidx-color;
}
.border-solid20{
	border: 20px solid $--border-solidx-color;
}
.border-top20{
	border-top: 20px solid $--border-solidx-color;
}
.border-left20{
	border-left: 20px solid $--border-solidx-color;
}
.border-right20{
	border-right: 20px solid $--border-solidx-color;
}
.border-bottom20{
	border-bottom: 20px solid $--border-solidx-color;
}

//虚线
.border-dotted{
	border: 1px dotted #e3e6eb;
}

/* 盒子边框填充 */
.margin-box{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.margin20{
  margin: 20px;
}
.margin-top20{
  margin-top: 20px;
}
.margin-left20{
  margin-left: 20px;
}
.margin-right20{
  margin-right: 20px;
}
.margin-bottom20{
  margin-bottom: 20px;
}
.margin10{
  margin: 10px;
}
.margin-top10{
  margin-top: 10px;
}
.margin-left10{
  margin-left: 10px;
}
.margin-right10{
  margin-right: 10px;
}
.margin-bottom10{
  margin-bottom: 10px;
}
.margin5{
  margin: 5px;
}
.margin-top5{
  margin-top: 5px;
}
.margin-left5{
  margin-left: 5px;
}
.margin-right5{
  margin-right: 5px;
}
.margin-bottom5{
  margin-bottom: 5px;
}
.margin0{
  margin: 0px;
}
.margin-top0{
  margin-top: 0px;
}
.margin-left0{
  margin-left: 0px;
}
.margin-right0{
  margin-right: 0px;
}
.margin-bottom0{
  margin-bottom: 0px;
}
.padding-box{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.padding20{
  padding: 20px;
}
.padding-top20{
  padding-top: 20px;
}
.padding-left20{
  padding-left: 20px;
}
.padding-right20{
  padding-right: 20px;
}
.padding-bottom20{
  padding-bottom: 20px;
}
.padding10{
  padding: 10px;
}
.padding-top10{
  padding-top: 10px;
}
.padding-left10{
  padding-left: 10px;
}
.padding-right10{
  padding-right: 10px;
}
.padding-bottom10{
  padding-bottom: 10px;
}
.padding5{
  padding: 5px;
}
.padding-top5{
  padding-top: 5px;
}
.padding-left5{
  padding-left: 5px;
}
.padding-right5{
  padding-right: 5px;
}
.padding-bottom5{
  padding-bottom: 5px;
}
.padding0{
  padding: 0px;
}
.padding-top0{
  padding-top: 0px;
}
.padding-left0{
  padding-left: 0px;
}
.padding-right0{
  padding-right: 0px;
}
.padding-bottom0{
  padding-bottom: 0px;
}
/* 内容超出 */
.overflow-hidden{
  overflow: hidden;
}
.overflow-x-hidden{
  overflow-x: hidden;
}
.overflow-y-hidden{
  overflow-y: hidden;
}
.overflow-scroll{
  overflow: scroll;
}
.overflow-x-scroll{
  overflow-y: hidden;
  overflow-x: scroll;
}
.overflow-y-scroll{
  overflow-x: hidden;
  overflow-y: scroll;
}
/* 列表样式 */
ul{
  padding: 0px;
  margin: 0px;
}
.list-style-none li{
  list-style: none;
}
/* 标题样式 */
h1,h2,h3,h4,h5{
  margin: 10px 0;
}
/* 滚动条样式 */
*::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb{
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(188, 188, 188, 0.2);
  background: rgba(144,147,153,0.3);
  cursor: pointer;
}
*::-webkit-scrollbar-thumb:hover{
	background: rgba(144,147,153,0.6);
}
/* 列表类图标大小 */
.list-icon{
	width: 50px;
	height: 50px;
	i{
	  font-size: 50px;
	}
}
/* 强制单行显示 */
.white-space-nowrap{
	white-space: nowrap;
}
/* 文本超出显示... */
.text-overflow-ellipsis{
	text-overflow: ellipsis;
}
/* 强制单行显示超出显示... */
.white-space-nowrap-ellipsis{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* 段落首行缩进 */
.text-indent2{
	text-indent: 2em;
}

/* 浮动 */
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.float-none{
	float: none;
}
.float-clear{
	clear: both;
}

/* 过渡 */
.transition{
	transition: all 0.4s;
	-moz-transition: all 0.4s; 
	-webkit-transition: all 0.4s; 
	-o-transition: all 0.4s;
}

/* div模拟表格样式 （垂直居中/每行等宽每列等高/文字超出隐藏）*/
div.table-flex{
	display: flex;
	flex-direction: row;
	div.row{
		display: flex;
		flex-direction: row;
		flex: 1;
		align-items: center;
	}
	div.column{
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: center;
	}
	div.content{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 0px 10px;
		height: 50px;
		line-height: 50px;
		color: #606266;
	}
}
div.table-title{
	font-weight: bold;
	background-color: #f5f7fa;
}
div.table-flex.border{
	border-top: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	div.row{
		border-bottom: 1px solid #f5f5f5;
	}
	div.column{
		border-right: 1px solid #f5f5f5;
	}
}

/* div模拟表格样式弹性布局 （垂直居中/每行等宽每列等高/文字超出隐藏）*/
div.table-list-flex{
	display: flex;
	flex-direction: column;
	div.table-title{
		font-weight: bold;
		background-color: #f5f7fa;
		display: flex;
		flex-direction: row;
	}
	div.table-content{
		flex: 1;
		overflow-y: scroll;
		display: flex;
		flex-direction: row;
	}
	div.border{
		border-top: 1px solid #f5f5f5;
		border-left: 1px solid #f5f5f5;
		div.row{
			border-bottom: 1px solid #f5f5f5;
		}
		div.column{
			border-right: 1px solid #f5f5f5;
		}
	}
	div.row{
		display: flex;
		flex-direction: row;
		flex: 1;
		align-items: center;
	}
	div.column{
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: center;
	}
	div.content{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 5px 10px;
	}
}

/* div模拟表格的查看界面 中间分隔线 样式 */
div.table-box{
	div.tr{
		display: flex;
		div.td{
			min-width: 120px;
			min-height: 30px;
			display: flex;
			align-items: center;
			padding: 5px;
		}
		div.td.left{
			flex: 4;
			flex-direction: row-reverse;
		}
		div.td.right{
			flex: 6;
			margin-right: 100px;
		}
	}
}
/* div模拟表格 样式 */
div.table-list-box{
	max-height: 500px;
	display: flex;
	flex-direction: column;
	border: 1px solid #6a6a6a;
	.table-title{
		display: flex;
		background-color: #cbd9ff;
		.td{
			padding: 10px;
			font-weight: bold;
			color: #262626;
		}
	}
	.table-content{
		flex: 1;
		overflow-y: scroll;
		.tr{
			border-bottom: 1px solid #6a6a6a;
			.td{
				border-right: 1px solid #6a6a6a;
				color: #262626;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	.tr{
		display: flex;
		.td{
			flex: 1;
			text-align: center;
			padding: 5px 10px;
		}
	}
}

/* 表单-表格 样式 */
.form-table-box{
	tr{
		th{
			padding-top: 20px;
			padding-bottom: 20px;
		}
		td{
			padding-top: 5px;
			padding-bottom: 5px;
		}
		td.label{
			text-align: right;
			padding-right: 20px;
			min-width: 100px;
			width: 200px;
		}
		td.value{
			min-width: 100px;
			.el-input{
				width: 250px;
			}
			.el-select{
				width: 250px;
			}
		}
	}
	.el-form-item{
		.el-input{
			width: 250px;
		}
		.el-textarea{
			width: 350px;
		}
		.left {
			width: 140px;
		}
		.right{
			margin-left: 10px;
			.el-input{
				width: 100px;
			}
		}
	}
}
/* 表单-表格-标签顶部对齐 */
.form-table-box.el-form--label-top{
	margin: 20px;
	.el-form-item{
		margin-bottom: 0px;
		.el-form-item__label{
			padding-bottom: 0px;
		}
	}
}

/* 颜色继承 */
.color-inherit{
	color: inherit;
}
.background-color-inherit{
	background-color: inherit;
}
.border-color-inherit{
  border-color: inherit;
}
.box-shadow-inherit{
	box-shadow: inherit;
}

/* 块项目的颜色交互 */
.block-item:hover{
	border-color: $--color-hover !important;
	background-color: $--background-color-hover !important;
}
.block-item.disabled:hover{
	background-color: #fdfdfd !important;
}
.block-item.active{
	color: $--color-hover !important;
	border-color: $--color-hover !important;
	background-color: $--background-color-active !important;
}

/* 页面禁止编辑 */
.pageDisabledEdit{
    position: relative;
}
.pageDisabledEdit::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

/* 页面内部标题样式 */
.page-content-title{
	font-weight: bold;
	padding: 10px 20px;
	background-color: #f5f5f5;
	border-left: 10px solid #51bcdb;
}

/* 圆点 */
.dots-radius{
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
	vertical-align: middle;
  background-color: #000000;
  margin-right: 6px;
}


/* form表单item行内布局 */
.form-item-inline{
	.el-form-item{
		display: inline-block;
		vertical-align: top;
	}
}

.el-button.is-active{
	background-color: #eef8fb;
}
