/********* 主题样式  **********/

$--font-color: #4c9bfd;
$--background-color: #080a20;
$--border-solid-color: #0942ba;
$--box-shadow-color: #0942ba;
$--hover-font-color: #51bcda;
$--menu-hover-background-color: #00396c;
$--border-solidx-color: #080a20;
$--background-color-hover: #161b58;
$--background-color-active: #1e3a75;
$--button-background: #2b7ce9;
$--button-background-hover: #2363c3;
$--button-background-active: #1e3a75;
$--background-disabled: #2a2c48;

.theme-black {
	.effect, .el-popover, .el-message-box__wrapper{
		*{
			color: $--font-color;
		}
		.component-echarts *{
			color: inherit;
		}
		.default-color *{
			color: initial;
		}
		.background, .background-color-white{
			background: $--background-color !important;
			background-color: $--background-color !important;
		}
		.pointer-color, .pointer-color *{
			color: $--hover-font-color;
		}
		.pointer-hover:hover,.pointer-hover:hover *{
			color: $--hover-font-color !important;
		}
		.border-color{
			border-color: $--border-solid-color !important;
		}
		.border-solid{
			border: 1px solid $--border-solid-color;
		}
		.border-top{
		  border-top: 1px solid $--border-solid-color;
		}
		.border-right{
		  border-right: 1px solid $--border-solid-color;
		}
		.border-bottom{
		  border-bottom: 1px solid $--border-solid-color;
		}
		.border-left{
		  border-left: 1px solid $--border-solid-color;
		}
		.border-solid10{
			border: 10px solid $--border-solidx-color;
		}
		.border-top10{
			border-top: 10px solid $--border-solidx-color;
		}
		.border-left10{
			border-left: 10px solid $--border-solidx-color;
		}
		.border-right10{
			border-right: 10px solid $--border-solidx-color;
		}
		.border-bottom10{
			border-bottom: 10px solid $--border-solidx-color;
		}
		.border-solid20{
			border: 20px solid $--border-solidx-color;
		}
		.border-top20{
			border-top: 20px solid $--border-solidx-color;
		}
		.border-left20{
			border-left: 20px solid $--border-solidx-color;
		}
		.border-right20{
			border-right: 20px solid $--border-solidx-color;
		}
		.border-bottom20{
			border-bottom: 20px solid $--border-solidx-color;
		}
		.box-shadow{
			box-shadow: inset 0px 0px 10px 0px $--box-shadow-color !important;
		}
		.box-shadow-hover:hover{
			box-shadow: 0px 0px 25px 5px $--border-solid-color !important;
		}
		.color-white, .white-color{
			color: #ffffff !important;
		}
		.el-loading-mask{
		  background-color: rgba(12, 16, 44, 0.8);
		}
		.el-menu {
			background: #080a20;
			*,.el-submenu__title,.el-menu-item{
				color: #ffffff;
			}
			.el-menu-item.is-active,.el-menu-item.is-active *{
				color: #51bcda;
			}
			.el-menu-item:hover,.el-submenu__title:hover{
				background: $--menu-hover-background-color !important;
			}
		}
		.el-tabs{
			.el-tabs__nav-wrap::after{
			  display: none;
			}
			.el-tabs__item.is-active{
			  color: #4c9bfd;
			}
			.el-tabs__active-bar{
			  background-color: #4c9bfd;
			}
			.el-tabs--card>.el-tabs__header .el-tabs__nav{
				border: 1px solid #1a51bf;
				border-bottom: none;
			}
			.el-tabs--card>.el-tabs__header .el-tabs__item{
				border-left: 1px solid #1a51bf;
			}
			.el-tabs--card>.el-tabs__header .el-tabs__item.is-active{
				border-bottom-color: #080a20;
			}
			.el-tabs--card>.el-tabs__header{
				border-bottom: 1px solid #1a51bf;
			}
		}
		.el-input__inner, .el-textarea__inner, .el-range-input, .el-checkbox__inner, .el-input__count{
		  background: none;
		  border-color: $--border-solid-color;
		  color: #c7c7c7;
		}
		.el-button{
			color: #ffffff;
			background: $--button-background;
			border-color: $--border-solid-color;
			* {
				color: #ffffff;
			}
		}
		.el-button.is-active, .el-button:focus{
			background: $--button-background-active;
		}
		.el-button:hover{
			background: $--button-background-hover;
		}
		.el-button.is-disabled, .el-button.is-disabled:active, .el-button.is-disabled:focus, .el-button.is-disabled:hover{
			border: 1px solid $--border-solid-color;
			background-color: $--background-disabled;
		}
		.el-input-group__prepend{
			border-color: $--border-solid-color;
			background-color: transparent;
		}
		.el-input-group__append{
			border-color: $--border-solid-color;
			background-color: transparent;
		}
		.el-checkbox.is-bordered{
			border: 1px solid $--border-solid-color;
		}
		.el-radio-group{
			.el-radio-button:first-child .el-radio-button__inner{
				border-left: 1px solid $--border-solid-color;
			}
			.el-radio-button__inner{
				color: #4c9bfd;
				border-color: $--border-solid-color;
				background-color: transparent;
			}
			.is-active .el-radio-button__inner{
			  color: #ffffff;
			  border-color: transparent;
			  background-color: #4c9bfd;
		   }
		   .el-radio{
			   .el-radio__label{
			   	color: $--font-color;
			   }
			   .el-radio__input .el-radio__inner{
			   	background-color: $--background-color-active;
			   	border-color: $--border-solid-color;
			   }
		   }
		   .el-radio.is-bordered{
				border-color: $--border-solid-color;
		   }
		   .el-radio.is-bordered.is-disabled{
			   background-color: $--background-disabled;
		   }
		}
		.el-input.is-disabled .el-input__inner{
			background-color: $--background-disabled;
			border-color: $--border-solid-color;
			color: #4c9bfd;
		}
		.el-table{
			background-color: transparent;
			.el-table__body *{
				color: #ffffff;
			}
			tr, th{
				background-color: transparent;
			}
			td, th.is-leaf{
				border-bottom: 1px solid $--border-solid-color;
			}
			.el-table__body tr.el-table__row:hover>td{
				background-color: $--background-color-hover !important;
			}
			.el-table__body tr.el-table__row.current-row > td{
				background-color: $--background-color-active !important;
			}
		}
		.el-table--border, .el-table--group{
			border: 1px solid $--border-solid-color;
		}
		.el-table--border th.gutter:last-of-type{
			border-bottom: 1px solid $--border-solid-color;
		}
		.el-table--border td, .el-table--border th{
			border-right: 1px solid $--border-solid-color;
		}
		.el-table--border::after, .el-table--group::after, .el-table::before{
			background-color: #0942ba;
		}
		.el-table--border th{
			border-bottom: 1px solid $--border-solid-color;
		}
		.el-table--striped .el-table__body tr.el-table__row--striped td{
			background: transparent;
		}
		.el-pagination.is-background {
			.btn-next, .btn-prev, .el-pager li{
				background-color: $--button-background;
				color: #ffffff;
			}
			.btn-next *,.btn-prev *,.el-pager li *{
				color: #ffffff;
			}
			.el-pager li:not(.disabled).active{
				background-color: $--button-background-active;
			}
			button:disabled{
				background-color: $--background-disabled;
			}
			.btn-next:disabled *, .btn-prev:disabled *{
				color: #C0C4CC;
			}
		}
		.el-steps{
			.el-step__head{
				.el-step__icon{
					background: #4c9bfd;
				}
				.is-text *{
					color: #ffffff;
				}
			}
			.el-step__head.is-process{
				color: #ffffff;
				border-color: #ffffff;
			}
			.el-step__head.is-success{
				color: #2b7ce9;
				border-color: #2b7ce9;
			}
			.el-step__main{
				.el-step__title.is-process{
					color: #ffffff;
				}
				.el-step__title.is-success{
					color: #4c9bfd;
				}
			}
		}
		.el-tree{
			background-color: transparent;
			.el-tree-node__content:hover{
				background-color: $--background-color-hover;
			}
			.el-tree-node:focus>.el-tree-node__content{
				background-color: $--background-color-active;
			}
			.el-tree-node.is-current>.el-tree-node__content{
				background-color: $--background-color-active;
			}
		}
		.page-content-title{
			color: $--hover-font-color;
			background: $--background-color-active;
		}
		.el-dialog{
			background-color: $--background-color;
			.el-dialog__header{
				border-top: 1px solid $--border-solid-color;
				border-left: 1px solid $--border-solid-color;
				border-right: 1px solid $--border-solid-color;
				.el-dialog__title{
					color: #4c9bfd;
				}
			}
			.el-dialog__body{
				border-bottom: 1px solid $--border-solid-color;
				border-left: 1px solid $--border-solid-color;
				border-right: 1px solid $--border-solid-color;
			}
		}
		.component-port-list{
			.list-wrap{
				background-color: #080a20;
				border: 1px solid #2b7ce9;
				ul{
					li{
						background-color: #080a20;
					}
				}
			}
		}
		.el-divider{
			background-color: $--border-solid-color;
			.el-divider__text{
				background-color: $--background-color-active;
			}
		}
		.block-item{
			background-color: $--background-color;
		}
		.block-item:hover{
			border-color: $--hover-font-color !important;
			background-color: $--background-color-hover !important;
		}
		.block-item.disabled:hover{
			background-color: #fdfdfd !important;
		}
		.block-item.active{
			color: $--hover-font-color !important;
			border-color: $--hover-font-color !important;
			background-color: $--background-color-active !important;
		}
		div.table-list-flex {
			div.table-title{
				background-color: #161b58;
			}
			div.border{
				border-top: 1px solid $--border-solid-color;
				border-left: 1px solid $--border-solid-color;
				div.row{
					border-bottom: 1px solid $--border-solid-color;
				}
				div.column{
					border-right: 1px solid $--border-solid-color;
				}
			}
		}
		div.table-list-box{
			.table-title{
				background-color: #4d5b82;
				.td{
					color: #ffffff;
				}
			}
			.table-content{
				.tr{
					.td{
						color: #ffffff;
					}
				}
			}
		}
		.el-form-item__error{
			color: #ef8157;
		}
	}
	.el-popper{
		background-color: $--background-color;
		border: 1px solid $--border-solid-color;
		box-shadow: 0px 0px 10px 0px $--box-shadow-color !important;
		* {
			color: #c7c7c7;
		}
		&[x-placement^=top]{
			.popper__arrow{
				border-top-color: $--border-solid-color !important;
				bottom: -8px !important;
			}
			.popper__arrow::after{
				border-top-color: $--border-solid-color !important;
			}
		}
		&[x-placement^=left]{
			.popper__arrow{
				border-left-color: $--border-solid-color !important;
				right: -8px !important;
			}
			.popper__arrow::after{
				border-left-color: $--border-solid-color !important;
			}
		}
		&[x-placement^=right]{
			.popper__arrow{
				border-right-color: $--border-solid-color !important;
				left: -8px !important;
			}
			.popper__arrow::after{
				border-right-color: $--border-solid-color !important;
			}
		}
		&[x-placement^=bottom]{
			.popper__arrow{
				border-bottom-color: $--border-solid-color !important;
				top: -8px !important;
			}
			.popper__arrow::after{
				border-bottom-color: $--border-solid-color !important;
			}
		}
	}
	.el-picker-panel{
		.el-date-picker__header *,.el-date-range-picker__header *,.available *{
			color: $--font-color;
		}
		.el-date-table td.end-date span, .el-date-table td.start-date span{
			background-color: $--background-color;
		}
		.el-date-table td.in-range div{
			background-color: $--background-color-active;
		}
		.el-date-table th{
			border-bottom: 1px solid $--border-solid-color;
		}
		.el-date-range-picker__content.is-left{
			border-right: 1px solid $--border-solid-color;
		}
		.el-date-table td.available:hover *{
			color: $--hover-font-color;
		}
		.el-date-table td.available:hover span{
			background-color: $--background-color-hover;
		}
		.el-date-picker__time-header{
			border-bottom: 1px solid $--border-solid-color;
		}
		.el-input__inner{
			border: 1px solid $--border-solid-color;
			background-color: $--background-color;
		}
		.el-time-panel{
			.el-time-spinner{
				.el-time-spinner__item{
					color: $--font-color;
				}
				.el-time-spinner__item.active{
					color: $--hover-font-color;
				}
				.el-time-spinner__item:hover:not(.disabled):not(.active){
					background-color: $--background-color-hover;
				}
			}
			.el-time-panel__content::after, .el-time-panel__content::before{
				border-top: 1px solid $--border-solid-color;
				border-bottom: 1px solid $--border-solid-color;
			}
			.el-time-panel__footer{
				border-top: 1px solid $--border-solid-color;
			}
		}
		.el-picker-panel__footer{
			border-top: 1px solid $--border-solid-color;
			background-color: $--background-color;
			*{
				color: $--font-color;
			}
			.el-button.is-plain{
				color: #ffffff;
				background: $--button-background;
				border-color: $--border-solid-color;
				* {
					color: #ffffff;
				}
			}
			.el-button.is-active{
				background: $--button-background-active;
			}
			.el-button.is-plain:hover, .el-button.is-plain:focus{
				background: $--button-background-active;
			}
		}
	}
	.el-dropdown-menu{
		.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover{
			color: $--hover-font-color;
			background-color: $--background-color-hover;
		}
	}
	.el-select-dropdown{
		.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
			background-color: $--background-color-hover;
		}
		.el-select-dropdown__item.selected *{
			color: #ffffff;
		}
		.el-select-dropdown__item.is-disabled{
			background-color: $--background-disabled;
		}
	}
	.el-message-box__wrapper{
		.el-message-box{
			background-color: $--background-color;
			border: 1px solid $--border-solid-color;
			box-shadow: 0px 0px 10px 0px $--box-shadow-color !important;
		}
	}
} 
